<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show User List</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

<h3>Surnames Users</h3>
<form>

    <div>
        <table border="1" style="width:500px">

            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Username</th>
                <th>Password</th>
                <th>Update, Delete</th>
            </tr>
            <tr th:each="user : ${key}">
            <td th:text="${user.name}">name</td>
            <td th:text="${user.surname}">surname</td>
            <td th:text="${user.age}">age</td>
            <td th:text="${user.username}">username</td>
            <td th:text="${user.password}">password</td>
            <td> <a th:href="@{/user_list/{id}(id=${user.getId()})}" th:text="edit"></a></td>
            </tr>
        </table>
    </div>

</form>

<br/>
<hr/>

<a href="/user_list/new"><strong>Create new User</strong></a>
<br><br>
<a href="/user">Your Info</a>
<br><br>
<a th:href="@{/logout}">Logout</a>

</body>
</html>